@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Outfit:wght@100..900&display=swap');

/* *{
  margin: 0;
  padding: 0;
} */
 *{
  font-family:Outfit-500 ;
 }
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}